body{
    background-color:#5ac8d8 !important;
}

.parallax {
    padding: 100px 0;
    /* color: #4A96A8;
    color: #004E56;
    color: #DADCDD; */
}

.sosmed{
    color: white;
    font-size: 24px;
    text-align: center;
}

.center-ver-hor{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-ver{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nexa{
    font-family: 'nexa';
}

.nf{
    font-family: 'nf-takhiee'
}

.brandon{
    font-family: 'brandon'
}

@font-face {
    font-family: 'nexa';
    src: url('font/nexa_bold-webfont.woff2') format('woff2'),
         url('font/nexa_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon';
    src: url('font/hvd_fonts_-_brandontext-light-webfont.woff2') format('woff2'),
         url('font/hvd_fonts_-_brandontext-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nf-takhie';
    src: url('font/takhie-free-regular-webfont.woff2') format('woff2'),
         url('font/takhie-free-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}